body {
  max-width: 800px;
  /*text-align:center;*/
}

.responsive-width {
    font-size: 1.0vw;
}

.container {
  margin: 0;
  position: absolute;
  top: 20%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

}

.btn {
  width: 20%;
}

.life .row {
  /*position: absolute;*/
  padding-top: 30px;
  padding-left: 70px;
}
.life .col-sm-7 {
  margin-left:10px;
}

.life h6 {
  color: #17a2b8;
}

img {
  border: 1px solid #17a2b8;
}

.img-thumbnail {
  border: 1px solid #17a2b8;
}

.sidebar {
  text-align: right;
}
/*.nav {
  margin: auto;
  max-width: 800px;
  text-align:center;
}*/
