<div class="col-sm-3" style="margin-left:75px">
  <img src="photos/thumbnail1.jpg" alt="Jihyeon" class="img-fluid img-thumbnail rounded-circle">
</div>
<div class="col-sm-6" style="text-align:left">
  <p>I received a <b style="color:#17a2b8">B.S. in Computer Science with Honors</b> from Stanford University in 2019, specializing in Artificial Intelligence and minoring in Feminist, Gender, & Sexuality Studies.
    My honors thesis received a <a href="https://news.stanford.edu/2019/06/20/stanford-undergrads-awarded-theses/">Firestone medal</a>, granted to the top 10% of theses across all disciplines.
    <br>
    <br> I also graduated with a <b style="color:#17a2b8">M.S. in Computer Science</b> from Stanford with a dual specialization in AI and Human-Computer Interaction in 2020.
    <br> I received a full merit-based scholarship for my M.S. as a <a href="https://news.stanford.edu/2019/10/03/siebel-scholars-announced/">Siebel Scholar</a>.
    <br>
    <br> My faculty advisers were Maneesh Agrawala and Stefano Ermon. My now-faculty mentors were Ranjay Krishna and Nina Brooks. I am grateful to these mentors.  
    <br>
    <br> I am currently at <b style="color:#17a2b8">Google Research</b> building SKAI, an AI system for detecting damage after natural disasters for humanitarian organizations. Check out our work with the <a href="https://innovation.wfp.org/blog/skai-isnt-limit-how-wfp-uses-satellite-imagery-and-machine-learning-emergencies">United Nations World Food Programme</a> and <a href="https://www.givedirectly.org/hurricane-relief-2022/">GiveDirectly</a>.

  </p>

  <p>
    <b>Research Interests:</b> Developing AI that is robust for high-risk, high-impact decision-making. Computer vision. In a world with infinite edge cases, how do we create models that adapt to new domains and continually learn?<br>
    <b>Mission:</b> As a technologist, artist, and human, my mission is to develop technology that empowers people.
  </p>

  <p>Let's talk! jihyeon (at) cs.stanford.edu
  </p>
</div>
