<div class="col-sm-3" style="margin-left:75px">
  <img src="photos/thumbnail1.jpg" alt="Jihyeon" class="img-fluid img-thumbnail rounded-circle">
</div>
<div class="col-sm-6" style="text-align:left">
  <p>I graduated with a <b style="color:#17a2b8">B.S. in Computer Science</b> with Honors from Stanford in Spring 2019, specializing in Artificial Intelligence and minoring in Feminist, Gender, & Sexuality Studies.
    My work received a <a href="https://news.stanford.edu/2019/06/20/stanford-undergrads-awarded-theses/">Firestone medal</a>.
    <br>
    <br> I will be graduating with an <b style="color:#17a2b8">M.S. in Computer Science</b> at Stanford with a dual specialization in AI and Human-Computer Interaction by Spring 2020.
    <br> I am a <a href="https://news.stanford.edu/2019/10/03/siebel-scholars-announced/">Siebel Scholar</a> and past Kleiner-Perkins Engineering Fellow.
  </p>

  <p>
    <b>Research Interests:</b> Building systems that can learn about the world and make decisions using computer vision and language understanding. Especially interested in cases where machines interact with people under nonideal conditions and high-risk, high-impact situations.  <br>
    <b>Mission:</b> to develop technology that empowers people at an individual and organizational level and holds them accountable.
  </p>

  <p>Let's talk! jihyeon (at) cs.stanford.edu
  </p>
</div>
