<div class="row" style="padding-top: 30px;">
  <div class="col-sm-4">
    <img src="photos/fall.jpg" width="300px">
  </div>
  <div class="col-sm-7">
    <h6>September 2019 - Stanford University</h6>
    <p>Back on campus for the 5th year Master's program and expecting to graduate
      with a M.S. in CS in April. Very grateful to have been named a
      <a href="https://news.stanford.edu/2019/10/03/siebel-scholars-announced/">Siebel Scholar</a>!
    </p>
  </div>
</div>

<div class="row" style="padding-top: 30px;">
  <div class="col-sm-4">
    <img src="photos/grad.jpg" width="300px">
  </div>
  <div class="col-sm-7">
    <h6>June 2019 - Stanford University</h6>
    <p>Thank you to my parents, friends, mentors, and advisers for their support.
      I graduated with a degree in Computer Science with honors and received a
      <a href="https://news.stanford.edu/2019/06/20/stanford-undergrads-awarded-theses/">Firestone medal</a>
      for my senior thesis.
    </p>
  </div>
</div>

<div class="row" style="padding-top: 30px;">
  <div class="col-sm-4">
    <img src="photos/okada.jpg" width="300px">
  </div>
  <div class="col-sm-7">
    <h6>September 2018 - Okada, Stanford</h6>
    <p>I feel so grateful to be a staff member at Okada, the Asian American theme dorm on campus. I'm excited to build community with my fellow staff members this year, and we welcomed the freshmen to their new home!</p>
  </div>
</div>

<div class="row" style="padding-top: 30px;">
  <div class="col-sm-4">
    <img src="photos/kp.jpg" width="300px">
  </div>
  <div class="col-sm-7">
    <h6>July 2018 - San Francisco</h6>
    <p>Very excited to have been named a Kleiner-Perkins Engineering Fellow!</p>
  </div>
</div>

<div class="row" style="padding-top: 30px;">
  <div class="col-sm-4">
    <img src="photos/twoeh.jpg" width="300px">
  </div>
  <div class="col-sm-7">
    <h6>May 2018 - Pigott Theater, Stanford</h6>
    <p>I feel very lucky to have been part of the cast of "<a href="https://www.facebook.com/events/579978102377771/">
      The World of Extreme Happiness</a>,"
      written by Frances Ya-Chu Cowhig and directed by Vineet Gupta. Without revealing too much,
      it's a story about a migrant worker named Sunny who leaves rural China to work in an urban
      factory and the transformation she undergoes in pursuit of her vision of success.
      I'm playing Sunny!
    </p>
  </div>
</div>

<div class="row" style="padding-top: 30px;">
  <div class="col-sm-4">
    <img src="photos/static.jpg" width="300px">
  </div>
  <div class="col-sm-7">
    <h6>May 2018 - Stanford</h6>
    <p>Published a piece of prose in STATIC's <a href="https://issuu.com/stanfordstatic/docs/static_zine_spring_2018">spring zine</a>, themed "Origin."
      "So often, our relationships with our origins are ascribed to us by outside powers who wish
      to simplify complex concepts such as home, culture, ancestry, language, and ethnicity in ways
      that ignore our different experiences of them. In this zine, we showcase essays, stories, artwork,
      and poetry which narrate origins in ways that aren't structured by normative ideas of what it means
      to be or to become. Here you'll find elegies for homelands and the dances of gods; indictments of
      colonialism and ink drawn from rivers."</p>
  </div>
</div>

<div class="row" style="padding-top: 30px;">
  <div class="col-sm-4">
    <img src="photos/kalki.jpg" width="300px">
  </div>
  <div class="col-sm-7">
    <h6>November 2017 - The Nitery, Stanford</h6>
    <p>I was the producer for the Asian American Theatre Project's fall
      show, <a href="https://www.facebook.com/events/1990250257916940/">
      The Chronicles of Kalki</a>,
      "a comic-book infused girl-gang thriller that follows the story of Kalki,
      the new girl at school who may or may not be the final avatar of Vishnu,
      come to rid the world of demons and evil.
      The Chronicles of Kalki tells a tale of female independence, identity,
      and rebellious self-assertion, taking on the universal question of just
      how exactly people survive high school." Big thanks to Stanford ARTS and the Nitery Experimental Theater (NeXT).</p>
  </div>
</div>

<div class="row" style="padding-top: 30px;">
  <div class="col-sm-4">
    <img src="photos/aansoc.jpg" width="300px">
  </div>
  <div class="col-sm-7">
    <h6>September 2017 - Stanford</h6>
    <p>Welcomed the frosh to campus with the other New Student Orientation (NSO) volunteers!</p>
  </div>
</div>
